{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "curly": [
      "error",
      "all"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "prefer-template": [
      "error"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "yoda": [
      "error",
      "always"
    ],
    "no-var": [
      "error"
    ],
    "no-obj-calls": [
      "error"
    ],
    "no-cond-assign": [
      "error"
    ],
    "no-regex-spaces": [
      "error"
    ],
    "no-sparse-arrays": [
      "error"
    ],
    "no-template-curly-in-string": [
      "error"
    ],
    "no-unreachable": [
      "error"
    ],
    "dot-notation": [
      "error"
    ],
    "no-global-assign": [
      "error"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-extra-parens": [
      "error"
    ],
    "no-whitespace-before-property": [
      "error"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "prefer-arrow-callback": [
      "error"
    ],
    "prefer-const": [
      "error"
    ],
    "no-trailing-spaces": [
      "error"
    ]
  }
}
