# Jetbrains
.idea

# The petabyte
node_modules

# Logs
logs
*.log

# Built app
build
dist
/index.html

# Jekyll stuff
docs/_site
docs/.sass-cache
docs/.jekyll-metadata

# Config & certs
config.json
*.pem

# My stuff
_work
