{
    "ws": {
        "port": 2096,
        "certPath": "/path/to/certificate.pem",
        "keyPath": "/path/to/key.pem"
    },
    "voicews": {
        "port": 2087
    },
    "web": {
        "port": 80
    },
    "rules": {
        "messageCharacterLimit": 1000,
        "usernameCharacterLimit": 15,
        "maxServersPerUser": 5
    }
}
