<head>
    <title>Union</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css">
    <script src="union.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="content">
    <div class="server-list">
        <div class="server">
            <img src="https://cdn.discordapp.com/icons/330777295952543744/d141576b5199457211312462a1a571af.webp?size=1024">
        </div>
        <div class="server">
            <img src="https://cdn.discordapp.com/icons/293171309557579786/569b36c30706ccdadf76394a0f788940.webp?size=1024">
        </div>
    </div>
    <div class="message-wrapper">
        <div class="messages">
          <div class="message-scroller" id="message-container"></div>
        </div>
        <textarea class="chatbox" placeholder="No server selected" id="whatthefuckdidyoujustsayaboutme" readonly></textarea>
    </div>
  </div>
</body>