#navbar img {
    display: none;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#navbar.default img {
    display: block;
}

#navbar h3, #navbar div {
    margin-top: 2px;
}

#modesta-credit {
    color: #f49898;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
}

code {
    background-color: #282828;
    border: 1px #121212 solid;
    border-radius: 5px;
    padding: 3px;
}

table {
    width: 100% !important;
    max-width: 100% !important;
    background-color: #242424;
}

table thead {
    background-color: #202020;
}

table tr, table td, table th {
    border: 1px #363636 solid !important;
}

.markdown-container h1 {
    font-size: 38px !important;
}

.markdown-container h2 {
    font-size: 32px !important;
}

.markdown-container h3 {
    font-size: 24px !important;
}

.markdown-container h4 {
    font-size: 20px !important;
}

.markdown-container h5 {
    font-size: 16px !important;
}

.markdown-container h6 {
    font-size: 14px !important;
}

.api-endpoint, .api-auth {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
}

.api-auth {
    margin-left: 5px;
    padding-left: 10px;
    font-size: 14px;
}

.api-auth:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    left: -8px;
    border-radius: 2px;
    background-color: #f49898;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

:root {
    --transparent-highlight: rgba(0, 0, 0, .6);
    --transparent-primary: rgba(0, 0, 0, .4);
    --transparent-secondary: rgba(0, 0, 0, .2);
}


