<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='style.css'>
    <title>Union</title>
  </head>
  <body>
<div class='App'>
  <div class='panel components-left-menu'>
    <button class='panel components sub'>
    </button>
  </div>
  <code class='displayText'
  />
  <textarea class='sendText' contentEditable='true'/> 
  <div class='panel components-right-menu'>
    </div>
</div>

    

    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
  </body>
</html>
